.title {
  text-align: center;
  color: cadetblue;
  font-weight: bold;
  text-decoration: underline;
}

.paragraph {
  background-color: darkolivegreen;
  color: aliceblue;
  min-height: 100px;
  font-size: 1.25rem;
  width: 30%;
}

h3,
h4,
.class-1 {
  color: blueviolet;
}

#element-1 {
  color: chocolate;
}

* {
  font-size: 16px;
}

a {
  color: blue;
  text-decoration: underline;
}

/* ^ = caret // this mean that includes all the sub pages */
a[href^="https://jonatangarcia.com"]
{
  color: orange;
}

a[href="https://jonatangarciaschaff.com"]
{
  color: crimson;
}

/* inside of the footer */
footer p {
  font-size: 25px;
}

/* directly inside of the footer, only first level */
footer > span {
  text-decoration: line-through;
}

/* if .dog has the same level than .cat, we apply the css */
.cat ~ .dog {
  color: coral;
}

/* we apply the css only if the .horse is after the .bird  */
.bird + .horse {
  color: aquamarine;
}

.title {
  font-size: 2rem;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clear {
  clear: both;
}

/* Pseudo classes */
.anchor:link {
  color: darkgoldenrod;
}

.anchor:visited {
  color: greenyellow;
}

input {
  border: solid 1px black;
}

input:focus {
  outline: 2px solid blue;
}

/* we apply the css only the input is invalid and it is not focused  */
input:invalid:not(:focus) {
  outline: 2px solid red;
}

/* we apply the css only the input is first of type inside of a element  */
.span-1:first-of-type {
  color: blueviolet;
}

.span-1:last-of-type {
  color: peru;
}

/* we apply the css only the span is the second of their type  */
.span-2:nth-of-type(2) {
  font-size: 25px;
}

.span-2:nth-of-type(odd) {
  text-decoration: overline;
}

.span-2:nth-of-type(even) {
  text-decoration: underline;
}

.span-3:first-child {
  color: purple;
}

.span-3:last-child {
  color: transparent;
}

/* we apply the css only the div is even between their siblings regardless the type */
.div-1:nth-child(even) {
  font-size: 10px;
}

.div-2::first-letter {
  color: red;
}

.div-3::first-line {
  color: blue;
}

.div-4::before {
  content: "-";
}

.div-5::after {
  content: "!";
}

.absolute {
  position: absolute;
  right: 15px;
  background-color: red;
  z-index: 2;
}

.fixed {
  position: fixed;
  bottom: 15px;
  right: 5px;
  background-color: aqua;
  z-index: 1;
}

.sticky {
  position: sticky;
  background-color: greenyellow;
  width: 100px;
  bottom: 15px;
  left: 5px;
}

.red,
.green,
.blue {
  border: solid 5px black;
  width: 100px;
}

.red {
  background-color: red;
  height: 100px;
}

.green {
  background-color: green;
  height: 80px;
}

.blue {
  background-color: blue;
  height: 150px;
}

.flexbox-1 {
  border: solid 5px blueviolet;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.flexbox-2 {
  border: solid 5px blueviolet;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.flexbox-3 {
  border: solid 5px blueviolet;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flexbox-4 {
  width: 500px;
  height: 500px;
  display: flex;
  border: solid 5px blueviolet;
  flex-wrap: wrap;
  /* align-content only works with flex-wrap: wrap -- it aligns the lines */
  align-content: center;
  margin-bottom: 20px;
}

.order-1 {
  order: 1;
}

.order--1 {
  order: -1;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.shrink-1 {
  width: 100vw;
  flex-shrink: 1;
}

.basis-100 {
  flex-basis: 100px;
}

.flex-child {
  /* 
  flex: flex-grow flex-shrink flex-basis
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 200px;
   */
  flex: 1 1 200px;
}
